@media all and (min-width: 768px) {
  /* HEADER */
  .logo {
    font-size: 24px;
  }

  /* MAIN */
  /* jumbotron */
  h1 {
    font-size: 62px;
  }

  .jumbo-description {
    font-size: 28px;
  }

  /* portfolio */

  h3 {
    font-size: 32px;
  }
}
