/* GENERAL */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  max-width: 100%;
}

/* REUSABLE */
h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.line {
  display: inline-block;
  width: 20%;
  max-width: 300px;
  height: 5px;
  border-radius: 2px;
}

/* HEADER */
header {
  background-color: #2c3e50;
  height: 60px;
}

.header-container {
  height: 100%;
}

.header-row {
  height: 100%;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  align-content: center;
}

/* header nav */
.hamburgher {
  color: #999;
  font-size: 20px;
  border: 0.8px solid #fff;
  padding: 2px 8px 0 8px;
  border-radius: 5px;
}

.header-a {
  font-size: 14px;
}

/* MAIN */
/* jumbotron */
.jumbo {
  background-color: #1abc9c;
}

.jumbo-img {
  width: 300px;
}

/* star line */

.jumbo-line {
  background-color: #fff;
}

.fa-star {
  font-size: 32px;
}

/* PORTFOLIO */

.portfolio-line {
  background-color: #333;
}

.debug {
  background-color: lightcoral;
  height: 200px;
  border-radius: 20px;
}
